[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservice-Alvaro/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservice-Alvaro/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservice-Alvaro/orders-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservice-Alvaro/payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservice-Alvaro/auth-ms.git
